#sprite {
  background-repeat: no-repeat;
}

.base {
  width: 105px;
  height: 215px;
  background-image: url('img/goku-standing-sheet.png');
  animation: stand 1s steps(2) infinite;
}

.powerup.base {
  width: 210px;
  height: 257px;
  background-image: url('img/goku-powerup-sheet.png');
  animation: powerup .3s steps(2) infinite;
}

#meter-container {
  position: relative;
  border: 3px solid black;
}

#meter-container span {
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
}

#meter {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #FFFD38;
  z-index: -1;
}

@keyframes stand {
  from { background-position: 0px; }
  to { background-position: -255px; }
}

@keyframes powerup {
  from { background-position: 0px; }
  to { background-position: -513px; }
}
